.components-page {
  color: grey;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 300px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}

.buttons-div > button {
  margin: 0 20px;
}

.components-page > div > .input-container {
  margin: 10px 0;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 80vw;
}
