.song-lyrics {
    width: 878px;
    padding: 50px 43px;
    background: #1B1B1B;
    border: 1px solid #292929;
    box-sizing: border-box;

    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1), inset 30px 30px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    white-space: pre-line;

    color: #CECECE;
}